In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [2]:
# Basic data
team = pd.read_csv("/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MTeams.csv")
seasons = pd.read_csv("/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MSeasons.csv")
seeds = pd.read_csv("/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MNCAATourneySeeds.csv")
season_results = pd.read_csv("/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MRegularSeasonCompactResults.csv")
tour_results = pd.read_csv("/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MNCAATourneyCompactResults.csv")

### Make dataframe with the average value of winning score, lossing score and the difference between the winning and the lossing scores

In [3]:
df = team.copy()
df = df.set_index("TeamID")
df["MeanWinScore"] = season_results.groupby("WTeamID").mean()["WScore"].astype(int)
df["MeanLossScore"] = season_results.groupby("LTeamID").mean()["LScore"].astype(int)
df["WinLossDiff"] = df["MeanWinScore"] - df["MeanLossScore"]


df["Wins"] = season_results["WTeamID"].value_counts() # add feature of the number of total wins
df.head(10)

,TeamName,FirstD1Season,LastD1Season,MeanWinScore,MeanLossScore,WinLossDiff,Wins
TeamID,,,,,,,
1101,Abilene Chr,2014,2022,76,63,13,109
1102,Air Force,1985,2022,70,59,11,368
1103,Akron,1985,2022,75,64,11,619
1104,Alabama,1985,2022,76,64,12,719
1105,Alabama A&M,2000,2022,74,60,14,208
1106,Alabama St,1985,2022,76,65,11,437
1107,SUNY Albany,2000,2022,71,60,11,333
1108,Alcorn St,1985,2022,78,64,14,350
1109,Alliant Intl,1985,1991,90,79,11,42
1110,American Univ,1985,2022,72,62,10,478